<html>
  <head>
    <title>Simple Task Manager</title>
    <style>
        table, td {
           border: 1px solid black;
        }
        .head {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="head">
        <h1>SIMPLE SEARCH ENGINE</h1> 
    </div>
    <div align="center">
        <form method="POST">
            {{ sform.hidden_tag() }}
            <fieldset>
                <legend align="center">Inputkan Query</legend>
                {{ sform.keyword }} 
                {{ sform.search }}
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
    <b>Document Result:</b><br><br>
        <table>
            <tr>
                <td style="text-align:center">Judul</td>
                <td style="text-align:center">Distance</td>
            </tr>
        {% for k,v in data.items() %}
            <tr>
            <td style="text-align:center">{{ k }}</td>
            <td style="text-align:center">{{ v }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
  </body>
</html>
